<html lang="en"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<title>The Pet Republic - Dogs - Breeds</title>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- bower:css -->
	<link rel="stylesheet" href="/lib/Materialize/bin/materialize.css">
	<!-- endbower -->
	<!-- bower:js -->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->

<script>
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
	var ampm = (h >= 12) ? "PM" : "AM";

    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s + " " + ampm;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>
</head>

<body  onload="startTime()">

<!-- nav -->

<div class="navbar-fixed">
	<nav class="black" role="navigation ">

		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">The Pet Republic </a>

			<ul class="right hide-on-med-and-down">
				<li><a href="http://www.thepetrepublic.com/">Main Site</a></li>
				<li><a href="http://dog-breeds.thepetrepublic.com/">Breeds</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li><a href="http://www.thepetrepublic.com/">Main Site</a></li>
				<li><a href="http://dog-breeds.thepetrepublic.com/">Breeds</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>
</div>
<!-- cards view -->
<div class="container">
	<div class="section">
		<div class="row">
			<div id="txt" style="font-size: xx-large !important;"></div>
		</div>
		<div class="row">
			<h3>
				<a name="#breedsWithA">A</a></h3>
			<div class="col s12 m4" style="display:block; ">

				<a href="http://dog-breeds.thepetrepublic.com/breed/Affenpinscher">
				</a><div class="card" style="display:block;"><a href="http://dog-breeds.thepetrepublic.com/breed/Affenpinscher">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="http://dog-breeds.thepetrepublic.com/images/Breeds/Affenpinscher/Affenpinscher-large.jpg" width="400px" height="250px">
				</div>
				<div class="card-content">
                                <span class="activator grey-text text-darken-4 h3" style="font-size: 20px;font-weight: 300;">
                                    Affenpinscher</span>
					<!--Affenpinscher<i class="material-icons right" >more_vert</i></span>-->
				</div>

			</a><div class="card-action"><a href="http://dog-breeds.thepetrepublic.com/breed/Affenpinscher">
			</a><a href="http://dog-breeds.thepetrepublic.com/breed/Affenpinscher">Details</a>
			</div>
			</div>

			</div>
			<div class="col s12 m4" style="display:block; ">

				<a href="http://dog-breeds.thepetrepublic.com/breed/Afghan-Hound">
				</a><div class="card" style="display:block;"><a href="http://dog-breeds.thepetrepublic.com/breed/Afghan-Hound">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="http://dog-breeds.thepetrepublic.com/images/Breeds/Afghan-Hound/Afghan-Hound-large.jpg" width="400px" height="250px">
				</div>
				<div class="card-content">
                                <span class="activator grey-text text-darken-4 h3" style="font-size: 20px;font-weight: 300;">
                                    Afghan Hound</span>
					<!--Afghan Hound<i class="material-icons right" >more_vert</i></span>-->
				</div>

			</a><div class="card-action"><a href="http://dog-breeds.thepetrepublic.com/breed/Afghan-Hound">
			</a><a href="http://dog-breeds.thepetrepublic.com/breed/Afghan-Hound">Details</a>
			</div>
			</div>

			</div>
			<div class="col s12 m4" style="display:block; ">

				<a href="http://dog-breeds.thepetrepublic.com/breed/Airedale-Terrier">
				</a><div class="card" style="display:block;"><a href="http://dog-breeds.thepetrepublic.com/breed/Airedale-Terrier">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="http://dog-breeds.thepetrepublic.com/images/Breeds/Airedale-Terrier/Airedale-Terrier-large.jpg" width="400px" height="250px">
				</div>
				<div class="card-content">
                                <span class="activator grey-text text-darken-4 h3" style="font-size: 20px;font-weight: 300;">
                                    Airedale Terrier</span>
					<!--Airedale Terrier<i class="material-icons right" >more_vert</i></span>-->
				</div>

			</a><div class="card-action"><a href="http://dog-breeds.thepetrepublic.com/breed/Airedale-Terrier">
			</a><a href="http://dog-breeds.thepetrepublic.com/breed/Airedale-Terrier">Details</a>
			</div>
			</div>

			</div>
			<div class="col s12 m4" style="display:block; ">

				<a href="http://dog-breeds.thepetrepublic.com/breed/Akita">
				</a><div class="card" style="display:block;"><a href="http://dog-breeds.thepetrepublic.com/breed/Akita">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="http://dog-breeds.thepetrepublic.com/images/Breeds/Akita/Akita-large.jpg" width="400px" height="250px">
				</div>
				<div class="card-content">
                                <span class="activator grey-text text-darken-4 h3" style="font-size: 20px;font-weight: 300;">
                                    Akita</span>
					<!--Akita<i class="material-icons right" >more_vert</i></span>-->
				</div>

			</a><div class="card-action"><a href="http://dog-breeds.thepetrepublic.com/breed/Akita">
			</a><a href="http://dog-breeds.thepetrepublic.com/breed/Akita">Details</a>
			</div>
			</div>

			</div>
			<div class="col s12 m4" style="display:block; ">

				<a href="http://dog-breeds.thepetrepublic.com/breed/Alaskan-Malamute">
				</a><div class="card" style="display:block;"><a href="http://dog-breeds.thepetrepublic.com/breed/Alaskan-Malamute">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="http://dog-breeds.thepetrepublic.com/images/Breeds/Alaskan-Malamute/Alaskan-Malamute-large.jpg" width="400px" height="250px">
				</div>
				<div class="card-content">
                                <span class="activator grey-text text-darken-4 h3" style="font-size: 20px;font-weight: 300;">
                                    Alaskan Malamute</span>
					<!--Alaskan Malamute<i class="material-icons right" >more_vert</i></span>-->
				</div>

			</a><div class="card-action"><a href="http://dog-breeds.thepetrepublic.com/breed/Alaskan-Malamute">
			</a><a href="http://dog-breeds.thepetrepublic.com/breed/Alaskan-Malamute">Details</a>
			</div>
			</div>

			</div>
			<div class="col s12 m4" style="display:block; ">

				<a href="http://dog-breeds.thepetrepublic.com/breed/American-English-Coonhound">
				</a><div class="card" style="display:block;"><a href="http://dog-breeds.thepetrepublic.com/breed/American-English-Coonhound">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="http://dog-breeds.thepetrepublic.com/images/Breeds/American-English-Coonhound/American-English-Coonhound-large.jpg" width="400px" height="250px">
				</div>
				<div class="card-content">
                                <span class="activator grey-text text-darken-4 h3" style="font-size: 20px;font-weight: 300;">
                                    American English Coonhound</span>
					<!--American English Coonhound<i class="material-icons right" >more_vert</i></span>-->
				</div>

			</a><div class="card-action"><a href="http://dog-breeds.thepetrepublic.com/breed/American-English-Coonhound">
			</a><a href="http://dog-breeds.thepetrepublic.com/breed/American-English-Coonhound">Details</a>
			</div>
			</div>

			</div>


	</div>
</div>


</div>

</body></html>
